@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    transition: all 0.15s;
    Box-sizing: border-box;
    Scroll-behavior:smooth;
}

body{
    background-color: #186F65;
}

.arrows{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 40px;
    flex-direction: column;
    gap: 10px;
    z-index: 99;
}

.arrows button{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #B5CB99;
    color: #FCE09B;
    font-weight: bold;
    font-size: 20px;
}

.arrows button:active{
    background-color: #707d5e; 
    transform: scale(0.9);
}

.leftRight{
    gap: 30px;
    display: flex;
}

.object{
    margin: 5px;
    height: 100px;
    width: 100px;
    background-color: #FCE09B;
    border-radius: 10px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}